<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <GposeEmoteOffset>18F72C8</GposeEmoteOffset>
  <CameraOffset>18F70A0</CameraOffset>
  <GposeOffset>18F72C8</GposeOffset>
  <AoBOffset>18F86B8</AoBOffset>
  
  <Emote>
    <Emote>370,750,330,1B0</Emote>
    <EmoteSpeed1>370,750,330,224></EmoteSpeed1>
    <EmoteSpeed2>370,750,330,228></EmoteSpeed2>
  </Emote>
  
  <Camera>
    <Max>130</Max>
    <Min>12C</Min>
    <CZoom>128</CZoom>
    <CHeight>174</CHeight>
    <FOVC>134</FOVC>
    <FOVMAX>13C</FOVMAX>
  </Camera>
  
  <Character>

    <Name>30</Name>
    <Race>1630</Race>
    <Gender>1631</Gender>
    <Clan>1634</Clan>

    <Body Base="F0">

      <Position>
        <X>50</X>
        <Y>54</Y>
        <Z>58</Z>
        <Rotation>60</Rotation>
        <Rotation2>64</Rotation2>
        <Rotation3>68</Rotation3>
        <Rotation4>6C</Rotation4>
      </Position>

      <Scale>
        <X>70</X>
        <Y>78</Y>
        <Z>74</Z>
      </Scale>

      <Bust Base="140">
        <X>64</X>
        <Y>68</Y>
        <Z>6C</Z>
      </Bust>
      <Wetness>2B0</Wetness>
      <SWetness>2BC</SWetness>
      <Height>26C</Height>
      <MuscleTone>240,28,20,C</MuscleTone>
      <TailSize>140,70</TailSize>
    </Body>

    <NameHeight>164</NameHeight>
    <TailType>1646</TailType>
    <Head>1635</Head>
    <Hair>1636</Hair>
    <HairTone>163A</HairTone>
    <Highlights>1637</Highlights>
    <HighlightTone>163B</HighlightTone>
    <Skintone>1638</Skintone>
    <FacialFeatures>163C</FacialFeatures>
    <Eye>1640</Eye>
    <RightEye>1639</RightEye>
    <LeftEye>163F</LeftEye>
    <Tattoos>163C</Tattoos>
    <FacePaint>1648</FacePaint>
    <FacePaintColor>1649</FacePaintColor>
    <Nose>1641</Nose>
    <Lips>1643</Lips>

  </Character>

</Settings>
